/* app css stylesheet */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 150px;
}

.home-container{
  padding-left: 8%;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.header{
  color: white;
  font-size: xx-large;
  text-align: center;
  background-color: #00b3ee;
  padding: 0.5%;
}

.collapse navbar-collapse .nav navbar-nav .dropdown .a hover{
  color : cyan;
}

.dropdown {
  position: relative;
  display: inline-block;
}
#autocomplete {
  padding-bottom: 0.5%;
}
/*
.btn btn-success{
  padding-bottom: 0.5%;
}*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 30%;
  padding: 2%;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #afd9ee}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: #262626;
  text-align: center;
}

.container{
  margin-top: 2%;
  color: #fff;
  width: 80%;
}

.imgsize
{ /*for product images in home page*/

  margin-left:0.3em;
  width: 80%;
  display: inline-block;
  margin-bottom: 1%
 /* border: 0.4px solid crimson;*/
}

.col-sm-4 {
  width:52%;
  display: inline-block;

}

.col-md-4{
  width: 30%;
  height: 40%;
}

.search {
  margin:0;
  margin-top: 0;
  padding: 0;
  background: none;
  color: white;
  width: 70%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.img-size {
/* In similar products, the size of the image */
  width : 70%;
  height : 70%;
  border:0px;
  margin:0px;
}

.view-image{
  margin-top: 2%;
  margin-left: 3%;
  width : 70%;
  height : 70%;
}

.img-repeat {
 /* content:" ";*/
  width:15%;
  margin-left: 3%;
  height: 40%;
  display:inline-block;

}
.maximage img:hover{
  -moz-transform:scale(1.25);
  -webkit-transform:scale(1.25);
  -o-transform:scale(1.25);
}
