<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MY SHOPPING CART </title>
</head>
<body>
<div class="header"> <h1> <b> MY SHOPPING CART </b> </h1> </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--<div class="navbar-header">
              <a class="navbar-brand" href="#"> </a>
            </div>-->

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Electronics<span class="caret"></span></a>
                        <ul class="dropdown-content" role="menu">
                            <a href="#">Mobiles</a>
                            <a href="#">Laptops</a>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Books <span class="caret"></span></a>
                        <ul class="dropdown-content" role="menu">
                            <a href="#">Fiction</a>
                            <a href="#">Comic</a>
                            <a href="#">Biographies</a>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>

        </div>
    </nav>


</body>
</html>