<!DOCTYPE html>
<html lang="en">

<body>

<div class="main" style="width: 80%; height: 100%; float:right">
    <br /><center><h2> TOP RATED PRODUCTS   </h2></center> <br /><br />
<!--{{hcntrl.products}}-->
    <top-products product-list = "hcntrl.products" product-type = 'mobile'></top-products>
    <top-products product-list = "hcntrl.products" product-type = 'laptop'></top-products>
    <top-products product-list = "hcntrl.products" product-type = 'fiction'></top-products>
    <top-products product-list = "hcntrl.products" product-type = 'comic'></top-products>
    <top-products product-list = "hcntrl.products" product-type = 'biographies'></top-products>
</div>

<div class="verticalLine"></div>


</body>

</html>
